In [9]:
import sqlite3
import pandas as pd
import numpy as np

In [11]:
qu = "select fieldRA,fieldDec,night from observations;"
con = sqlite3.connect("roll_uniform_early_half_mjdp0_v3.4_10yrs.db")
s1 = pd.read_sql(qu, con)
con.close()

In [3]:
con = sqlite3.connect("../baseline/baseline_v3.4_10yrs.db")
s2 = pd.read_sql(qu, con)
con.close()

In [4]:
s1

            fieldRA   fieldDec
0        200.782211 -50.116498
1        205.280457 -48.985871
2        208.768832 -50.721324
3        212.491654 -52.367602
4        209.531249 -47.656241
...             ...        ...
2145772    7.709226 -14.610126
2145773  356.958872   2.770424
2145774  349.553501 -37.132841
2145775  349.597253 -40.179489
2145776  349.485047 -43.316756

[2145777 rows x 2 columns]

In [5]:
s2

            fieldRA   fieldDec
0        200.782211 -50.116498
1        205.280457 -48.985871
2        208.768832 -50.721324
3        212.491654 -52.367602
4        209.531249 -47.656241
...             ...        ...
2146792  359.855461 -45.784814
2146793  358.689779 -33.279564
2146794  349.429663 -34.163912
2146795  342.924822 -36.466354
2146796  346.155210 -32.468119

[2146797 rows x 2 columns]

In [12]:
indx=np.where(np.abs(s1["fieldDec"] - s2["fieldDec"]) > 0)[0].min()

In [13]:
s1['night'].values[indx]

374